body {
  color: white;
}

.switch-override {
  .MuiFormControlLabel-root {
    // margin-left: 0px;
    // margin-right: 16px;
    margin-left: unset;
    margin-right: unset;
  }
}

.virtualized-list-override {
  .MuiListItem-gutters {
    padding-left: 8px;
  }
}
